:root {
  /* Primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);

  /* Neutral */
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --white: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Bai Jamjuree', sans-serif;
  line-height: 1.6;
  background: var(--white);
  color: var(--grayish-blue);
  margin: 0;
  font-size: 16px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--dark-grayish-blue);
  margin: 0;
}
h1 {
  font-size: 32px;
}
/* header */
header {
  background: url('images/bg-header-mobile.png') no-repeat;
  background-size: cover;
  padding: 50px 30px;
  text-align: center;
}
header .logo {
  padding: 70px 0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.showcase {
  max-width: 610px;
  margin: 0 auto;
}
.showcase h1 {
  margin-top: 0;
}
.download-btn {
  margin-top: 50px;
}
.download-btn .btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  background: var(--strong-cyan);
  color: var(--white);
  padding: 12px 80px;
  border-radius: 50px;
  transition: 0.3s;
}

.download-btn .ios-btn {
  box-shadow: 0 1px 2px 2px hsl(171, 64%, 37%);
}
.download-btn .ios-btn:hover {
  background: hsl(171, 57%, 51%);
}
.download-btn .mac-btn {
  background: var(--light-blue);
  margin-top: 28px;
  box-shadow: 0 1px 2px 2px hsl(233, 64%, 57%);
}
.download-btn .mac-btn:hover {
  background: hsl(233, 88%, 73%);
}

/* main */
main {
  padding: 120px 30px;
  text-align: center;
}
.snippets-heading,
.access-heading,
.tools-heading {
  margin-bottom: 70px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}
.clipboard-heading {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}
.snippets-img,
.snippets-detail {
  margin-bottom: 40px;
}

/* access clipboard */
.access {
  margin-top: 150px;
}

/* tools */
.tools {
  margin-top: 100px;
}
.tool {
  margin-bottom: 60px;
}
.tool-img {
  height: 45px;
  margin-bottom: 30px;
}

/* partnership */
.partnership {
  margin-top: 130px;
}
.partnership img {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* clipboard */
.clipboard {
  margin-top: 160px;
}

/* footer */
footer {
  margin-top: 100px;
  text-align: center;
  background: #eee;
  padding: 50px;
  padding-bottom: 80px;
  position: relative;
}
.footer-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
footer .logo {
  width: 60px;
  margin: 0 auto;
}
.footer-links {
  margin: 40px 0;
  padding: 0;
  list-style-type: none;
}
.footer-links li {
  margin-bottom: 20px;
}
.footer-links a {
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 18px;
}
.footer-social a:not(:last-child) {
  margin-right: 40px;
}
.footer-social i {
  color: var(--dark-grayish-blue);
  font-size: 28px;
}
.footer-links a:hover,
.footer-social i:hover {
  transition: 0.3s;
  color: var(--strong-cyan);
}

@media screen and (min-width: 376px) {
  header {
    background: url('./images/bg-header-desktop.png') no-repeat;
  }
  .showcase h1 {
    font-size: 35px;
  }
  .showcase h1 {
    font-size: 35px;
  }
  .showcase p {
    font-size: 18px;
  }
  .tool {
    max-width: 350px;
  }
  .tools-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
  }
  .partnership {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    grid-gap: 30px;
  }
  .partnership img {
    height: auto;
  }
}
@media screen and (min-width: 465px) {
  .download-btn .btn {
    padding: 8px 30px;
    font-size: 16px;
  }
  .download-btn .ios-btn {
    margin-right: 15px;
  }
}
@media screen and (min-width: 600px) {
  footer {
    padding: 20px;
    padding-bottom: 70px;

    text-align: unset;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .logo {
    margin: 0;
  }
  .footer-social a:not(:last-child) {
    margin-right: 20px;
  }
  .footer-links {
    margin: 0;
    columns: 100px 3;
  }
  .footer-links a {
    font-weight: 400;
  }
  .footer-links li {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .showcase h1 {
    font-size: 38px;
  }
  .section-heading {
    font-size: 32px;
  }
  main {
    padding-right: 0;
    padding-left: 0;
  }
  .snippets-heading {
    margin-bottom: 90px;
  }
  .snippets-split {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -30px;
  }
  .snippets-img {
    margin-bottom: 0;
  }
  .snippets-img img {
    height: 100%;
    max-width: 100%;
  }
  .snippets-details {
    text-align: left;
    max-width: 420px;
    padding: 0 20px 0 60px;
  }
  .footer-links {
    margin: 0;
    columns: 150px 3;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(150, 90%, 16%);
}
